<template>
<div class="container">
  <h1>Welcome To Beanstalk CMS Portal (BLOG MANAGEMENT)</h1>
  <br>
  <div class="col-sm-8 ml-auto mr-auto">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-iimtt" role="tabpanel" aria-labelledby="pills-iimtt-tab">
      <div class="col-sm-12  border border-primary shadow rounded pt-2">
        <div class="row">
            <div class="col-sm-6">
              <div class="card" >
                <div class="card-body" style="text-align: center; background-color: #45CE30">
                  <i class="fas fa-save" style="font-size: 100px;" ></i>
                  <h4 class="card-title" style="font-weight:bold;">Create Blog Page</h4>
                  <p class="card-text">Create a new blog page. It is so easy and simple to page. </p>
                  <!-- Select session to selectSession file  -->
                  <router-link to="/createBlog" class="link"><button class="btn btn-primary">Click here</button></router-link>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="text-align: center; background-color: #7CEC9F">
                  <i class="fas fa-file" style="font-size: 100px;" ></i>
                  <h4 class="card-title" style="font-weight:bold;">Manage Blog Pages</h4>
                  <p class="card-text">Manage your blog pages. View pages, Edit them or delete pages. </p>
                  <!-- Select session to selectSession file  -->
                  <router-link to="/viewBlog" class="link"><button class="btn btn-primary">Click here</button></router-link>
                </div>
              </div>
              <br>
            </div>
        </div>
      </div>
        <br>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'BlogHome',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container{
  margin-top: 20px;
}
.link{
  color: aliceblue;
}
</style>
