/* eslint-disable */
<template>
<div class="hello">
    <div class="container">
        <h1 style="text-align:center;">{{msg}}</h1>
         <b-alert v-model="showDismissibleAlert" variant="danger" dismissible>
          {{ noticeAlert }}
        </b-alert>
          <form method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="from-group">
                  <label for="exampleInputEmail1" class="formLabel">Enter the domain<span style="color: red;">*</span></label>
                  <select v-model="selectedDomain" class="form-control" name="domain">
                    <option value="null">Select an option</option>
                    <option v-for="domain in domains" v-bind:key="domain.text">
                      {{ domain.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="from-group">
                  <label for="exampleInputEmail1" class="formLabel">Enter the uri<span style="color: red;">*</span></label>
                  <select v-model="selectedUri" class="form-control" name="uri">
                    <option value="null">Select an option</option>
                    <option value="/">/</option>
                    <option value="blog">blog</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="sel1" class="formLabel">Page Title<span style="color: red;">*</span></label>
                  <input type="text" v-on:input="makeSlug" v-on:blur="checkDuplicate" v-model="title" class="form-control" name="title" placeholder="Enter the page Title" required>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="sel1" class="formLabel">Unique Page Identifier<span style="color: red;">*</span></label>
                  <input type="text" v-model="slug" class="form-control" name="slug" placeholder="Enter the page identifier" required>
                  <p><strong style="color:red">{{errorMsg}}</strong></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sel1" class="formLabel">Meta Description<span style="color: red;">*</span></label>
              <textarea v-model="metaTags" class="form-control" id="exampleFormControlTextarea1" rows="3" name="metaTags" placeholder="Enter the meta description"></textarea>
            </div>
            <label for="Image upload" class="formLabel">Upload the image<span style="color: red;">*</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" ref="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01" name="file" @change="changeUploadName" required>
                  <label class="custom-file-label" for="inputGroupFile01">{{ uploadFileName }}</label>
                </div>
            </div><br>
            <br>  
            <label for="sel1" class="formLabel">Page Content<span style="color: red;">*</span></label>
             <ckeditor :editor="editor" v-model="editorData" :config="editorConfig" class="editor"></ckeditor><br>
             <button type="button" class="btn btn-danger" v-on:click="emptyEditor()">Empty the editor</button><br><br>
             <div class="form-group">
                  <label for="sel1" class="formLabel">Author Name<span style="color: red;">*</span></label>
                  <input type="text" v-model="author" class="form-control" name="author" placeholder="Enter the Author Name" required>
             </div>
            <div class="form-group ml-auto mr-auto">
              <!-- <button  v-model="submit" @click="submitForm()" class="ml-auto mr-auto btn btn-success btn-lg">Create New Page</button> -->
              <input v-model="submit" :disabled="valid" type="button" name="createPage" @click="submitForm" class="ml-auto mr-auto btn btn-success btn-lg">
            </div>
          </form>
         <br>
        
    </div>
    

</div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import Datepicker from 'vuejs-datepicker'
export default {
  name: 'CreatePage',
  components: {
    Datepicker
  },
  data () {
    return {
      valid:false,
      showDismissibleAlert:false,
      noticeAlert:null,
      uploadFileName: 'Choose File',
      editor: ClassicEditor,
      editorData: '<p>Content of the editor.</p>',
      editorConfig: {
        // height: 200
      },
      selected: null,
      selectedDomain: null,
      selectedUri: null,
      slug:null,
      metaTags: null,
      title: null,
      submit:'Create New Page',
      date:'',
      author:'',
      file:'',
      domains: [
        { value: 'atheneumglobal.education', text: 'atheneumglobal.education' },
        { value: 'teenybeanspreschoolcurriculum.com', text: 'teenybeanspreschoolcurriculum.com' },
        { value: 'beanstalkedu.com', text: 'beanstalkedu.com' },
        { value: 'teachertrainingbangalore.in', text: 'teachertrainingbangalore.in' },
      ],
      uris : '',
      errorMsg : '',
      errorFlag: null,
      show: true,
      msg: 'Create a new page',
      apiDomain : process.env.VUE_APP_API_DOMAIN
    }
  },
  methods: {
   makeSlug(event){
    console.log(event.target.value);
    var str = this.title;
    str = str.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase();
    this.slug = str;
    console.log(str); 
   },
   changeUploadName(event){
     this.uploadFileName = this.$refs.file.files[0].name;
     console.log(this.$refs.file.files[0].name);
   },
    emptyEditor () {
      this.editorData = ''
    },
    checkDuplicate (){
      var helo = this;
      fetch(this.apiDomain+'/API/cmsBackend/v1/?checkSlug&domain='+this.selectedDomain+'&uri='+this.selectedUri+'&slug='+this.slug)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
            // Examine the text in the response
            response.json().then(function(data) {
              console.log(data);
              if(data){
                helo.errorMsg = "Already present";
                helo.errorFlag = true;
                // return true;
                console.log(helo.errorMsg);
                // console.log()
              }
              else{
                helo.errorMsg = "Looks Good";
                helo.errorFlag = false;
                // return helo.errorFlag;
                console.log(helo.errorMsg);
              }
              
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    submitForm (event){
      
      var helo = this;
      let formData = new FormData();
      this.file = this.$refs.file.files[0];
      console.log(this.file);
      formData.append('domain', this.selectedDomain);
      formData.append('uri', this.selectedUri);
      formData.append('slug', this.slug);
      formData.append('title', this.title);
      formData.append('meta', this.metaTags);
      formData.append('content', this.editorData);
      formData.append('author', this.author);
      // formData.append('dateCreated', this.date);
      formData.append('description', "description");
      formData.append('file', this.file);
      formData.append('createPage', this.submit);

      // var ifDuplicate = this.checkDuplicate();
      // if(this.checkDuplicate()){
      //   helo.errorMsg = "Already present";
      //   console.log(helo.errorMsg);
      //   return;
      // }
      if(helo.errorFlag){
        helo.noticeAlert = "This Blog title is already present. Try something else!";
        helo.showDismissibleAlert = true;
      }
      
      else if(this.selectedDomain && this.selectedUri && this.slug && this.title && this.metaTags){
        this.valid = true;
        fetch(this.apiDomain+"/API/cmsBackend/v1/", {
                method: "POST",
                body:formData,
            }).then(
                function(response) {
                response.json().then(function(data) {
                  console.log(data);
                  helo.noticeAlert = data;
                  helo.valid = false;
                  helo.showDismissibleAlert = true;
                  helo.selectedDomain = null;
                  helo.selectedUri = null;
                  helo.slug = null;
                  helo.title = null;
                  helo.metaTags = null;
                  helo.editorData = '';
                  helo.author = null;
                  helo.description = null;
                });
              }
            )
            .catch(function(err) {
              console.log('Fetch Error :-S', err);
            });
        
      }else{
        helo.noticeAlert = "Fill up all the fields";
        helo.showDismissibleAlert = true;
      }
      
    }
  },
  computed: {
  // 	isDisabled: function(){
  //   	return false;
  // }
    // slug: function(){
    //   console.log(this.slug);
    // }
  }
  // created: function(){
  //       // let self = this;
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
  text-align: left;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.formLabel{
  font-weight: bold;
}
datepicker{

}
ckeditor { height:500px; }
</style>
