<template>
<div class="container">
  <h1>Welcome To Beanstalk CMS Portal (FAQ MANAGEMENT)</h1>
  <br>
  <div class="col-sm-8 ml-auto mr-auto">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-iimtt" role="tabpanel" aria-labelledby="pills-iimtt-tab">
      <div class="col-sm-12  border border-primary shadow rounded pt-2">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="text-align: center;">
                  <i class="fas fa-save" style="font-size: 100px;" ></i>
                  <h4 class="card-title" style="font-weight:bold;">Create FAQ</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Select session to selectSession file  -->
                  <router-link to="/createFaq" class="link"><button class="btn btn-primary">Click here</button></router-link>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="text-align: center;">
                  <i class="fas fa-file" style="font-size: 100px;" ></i>
                  <h4 class="card-title" style="font-weight:bold;">Manage FAQs</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- Select session to selectSession file  -->
                  <router-link to="/viewFaq" class="link"><button class="btn btn-primary">Click here</button></router-link>
                </div>
              </div>
              <br>
            </div>
        </div>
      </div>
        <br>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'FaqHome',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container{
  margin-top: 20px;
}
.link{
  color: aliceblue;
}
</style>
