<template>

<div class="container">
 	<div class="col-sm-8 ml-auto mr-auto" >
	<div class="tab-content" id="pills-tabContent" >
		<div class="tab-pane fade show active" id="pills-iimtt" role="tabpanel" aria-labelledby="pills-iimtt-tab">
            <div class="col-sm-12  border border-primary shadow rounded pt-2" style="background-color: #fff;">
            	<h2 style="text-align: center;">Beanstalk Admin panel</h2>
                <h4 style="text-align: center;">Blog and Faq Management</h4>
            	<hr>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="">
                          <div class="card-body cb" style="text-align: center; background-color: #74B9FF" >
                            <i class="fas fa-file" style="font-size: 100px;" ></i>
                            <h4 class="card-title" style="font-weight:bold;">Blog Manage</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <router-link to="/blogHome" class="link"><button class="btn btn-primary">Click here</button></router-link> 
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="">
                         
                          <div class="card-body cb" style="text-align: center; background-color: #badc57">
                            <i class="fas fa-question" style="font-size: 100px;" ></i>
                           <h4 class="card-title" style="font-weight:bold;">FAQ Manage</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <router-link to="/faqHome" class="link"><button class="btn btn-primary">Click here</button></router-link>
                          </div>
                        </div>
                    </div>
                    
                </div>
                <br>

            </div>
            <br>
        </div>
    </div>
    <br>
	</div>
</div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container{
  margin-top: 20px;
}
.link{
  color: aliceblue;
}
</style>
