/* eslint-disable */
<template>
<div class="hello">
    <div class="container">
        <h1 style="text-align:center;">{{msg}}</h1>
          <form method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="from-group">
                  <label for="exampleInputEmail1" class="formLabel">Enter the domain<span style="color: red;">*</span></label>
                  <select v-model="selectedDomain" class="form-control" name="domain">
                    <option value="null">Select an option</option>
                    <option v-for="domain in domains" v-bind:key="domain.text">
                      {{ domain.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="from-group">
                  <label for="exampleInputEmail1" class="formLabel">Enter the uri<span style="color: red;">*</span></label>
                  <select v-model="selectedUri" class="form-control" name="uri">
                    <option value="null">Select an option</option>
                    <option value="/">/</option>
                    <option value="faq">faq</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="sel1" class="formLabel">Enter the Question<span style="color: red;">*</span></label>
              <textarea v-model="question" class="form-control" id="exampleFormControlTextarea1" rows="3" name="question" placeholder="Enter the question"></textarea>
            </div>
            <div class="form-group">
              <label for="sel1" class="formLabel">Enter the Answer<span style="color: red;">*</span></label>
              <textarea v-model="answer" class="form-control" id="exampleFormControlTextarea1" rows="3" name="answer" placeholder="Enter the corresponding answer"></textarea>
            </div>
            <div class="form-group ml-auto mr-auto">
              <!-- <button type="submit" v-model="submit" @click="submitForm()" class="ml-auto mr-auto btn btn-success btn-lg">Create New Page</button> -->
              <input v-model="submit" type="button" name="update" @click="submitForm" class="ml-auto mr-auto btn btn-success btn-lg">
            </div>
          </form>
         <br>
    </div>
</div>
</template>

<script>
export default {
  name: 'SingleFaq',
  data () {
    return {
        faqId: null,
        selected: null,
        selectedDomain: null,
        selectedUri: null,
        question: null,
        answer: null,
        submit:'Create New FAQ',
        domains: [
        { value: 'Beanstalkedu.in', text: 'Beanstalkedu.in' },
        { value: 'Teenybeans.in', text: 'Teenybeans.in' },
        ],
        uris : '',
        errorMsg : '',
        show: true,
        msg: 'Create a new FAQ',
        apiDomain: process.env.VUE_APP_API_DOMAIN
    }
  },
  methods: {
      fetchData(){
      console.log(this.$route.query.id)
      this.faqId = this.$route.query.id;
      var helo = this;
      fetch(this.apiDomain+'/API/cmsBackend/v1/?singleFaq&id='+this.faqId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
            // Examine the text in the response
            response.json().then(function(data) {
              console.log(data);
            //   helo.uris = data;
            helo.selectedDomain = data.DOMAIN;
            helo.selectedUri = data.URI;
            helo.question = data.QUESTION;
            helo.answer = data.ANSWER;
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    submitForm (event){
      var helo = this;
      let formData = new FormData();
      formData.append('domain', this.selectedDomain);
      formData.append('uri', this.selectedUri);
      formData.append('question', this.question);
      formData.append('answer', this.answer);
      formData.append('faqId', this.faqId);
      formData.append('updateFaq', this.submit);
      if(this.selectedDomain && this.selectedUri && this.question && this.answer){
        fetch(this.apiDomain+"/API/cmsBackend/v1/", {
                method: "POST",
                body:formData,
            }).then(
                function(response) {
                response.json().then(function(data) {
                  console.log(data);
                  alert(data);
                });
              }
            )
            .catch(function(err) {
              console.log('Fetch Error :-S', err);
            });
            
      }else{
        alert('Fill up all the fields');
      }
    }
  },
  created: function(){
        // let self = this;
    this.fetchData();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
  text-align: left;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.formLabel{
  font-weight: bold;
}
datepicker{

}
ckeditor { height:500px; }
</style>
