/* eslint-disable */
<template>
<div class="hi">
    <div class="container">
        <h1 style="text-align:center;">{{msg}}</h1>
        <b-alert v-model="showDismissibleAlert" variant="danger" dismissible>
          {{ noticeAlert }}
        </b-alert>
          <form method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="from-group">
                  <label for="exampleInputEmail1" class="formLabel">Enter the domain<span style="color: red;">*</span></label>
                  <select v-model="selectedDomain" class="form-control" name="domain" @change="getUri()">
                   <option :value=selectedDomain>{{selectedDomain}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="from-group">
                  <label for="exampleInputEmail1" class="formLabel">Enter the uri<span style="color: red;">*</span></label>
                  <select v-model="selectedUri" class="form-control" name="uri">
                    <option :value=selectedUri>{{selectedUri}}</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="sel1" class="formLabel">Page Title<span style="color: red;">*</span></label>
                  <input type="text" v-model="title" class="form-control" name="title" placeholder="Enter the page Title" required>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="sel1" class="formLabel">Unique Page Identifier<span style="color: red;">*</span></label>
                  <input type="text" v-model="slug" class="form-control" name="upi" placeholder="Enter the page identifier" disabled>
                  <p><strong style="color:red">{{errorMsg}}</strong></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sel1" class="formLabel">Meta Tags<span style="color: red;">*</span></label>
              <textarea v-model="metaTags" class="form-control" id="exampleFormControlTextarea1" rows="3" name="metaTags" placeholder="Enter the meta tags"></textarea>
            </div>
            <label for="Image upload" class="formLabel">Upload the image<span style="color: red;">*</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" ref="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01" name="file" @change="changeUploadName" required>
                  <label class="custom-file-label" for="inputGroupFile01">{{ uploadFileName }}</label>
                </div>
            </div><br>
            <label for="sel1" class="formLabel">Page Content<span style="color: red;">*</span></label>
             <ckeditor :editor="editor" v-model="editorData" :config="editorConfig" class="editor"></ckeditor><br>
             <button type="button" class="btn btn-danger" v-on:click="emptyEditor()">Empty the editor</button><br><br>

             <div class="form-group">
                  <label for="sel1" class="formLabel">Author Name<span style="color: red;">*</span></label>
                  <input type="text" v-model="author" class="form-control" name="author" placeholder="Enter the Author Name" required>
              </div>
             
            <div class="form-group ml-auto mr-auto">
              <!-- <button type="submit" v-model="submit" @click="submitForm()" class="ml-auto mr-auto btn btn-success btn-lg">Create New Page</button> -->
              <input v-model="submit" :disabled="valid" type="button" name="updatePage" @click="submitForm" class="ml-auto mr-auto btn btn-success btn-lg">
            </div>
          </form>
         <br>
       
    </div>
</div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'SinglePage',
  pageId :'',
  components: {
    Datepicker
  },
  data () {
    return {
      valid:false,
      msg: 'Edit your page',
      pages: '',
      uploadFileName: 'Choose File',
      editor: ClassicEditor,
      editorData: null,
      noticeAlert: null,
      showDismissibleAlert:false,
      editorConfig: {
      },
      selected: null,
      selectedDomain: null,
      selectedUri: '/',
      slug:null,
      metaTags: null,
      title: null,
      submit:'Update Page',
      date:'',
      author:'',
      file:'',
      domains: [
        { value: 'Beanstalkedu.in', text: 'Beanstalkedu.in' },
        { value: 'Teenybeans.in', text: 'Teenybeans.in' },
      ],
      uris : '',
      errorMsg : '',
      foods: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
      show: true,
      apiDomain: process.env.VUE_APP_API_DOMAIN
    }
  },
  methods: {
    emptyEditor () {
      this.editorData = ''
    },
    changeUploadName(event){
     this.uploadFileName = this.$refs.file.files[0].name;
     console.log(this.$refs.file.files[0].name);
    },
    // makeSlug(event){
    // console.log(event.target.value);
    // var str = this.title;
    // str = str.replace(/[^a-zA-Z0-9]/g, '-').toLowerCase();
    // this.slug = str;
    // console.log(str); 
    // },
    checkDuplicate (){
      var helo = this;
      fetch(this.apiDomain+'/API/cmsBackend/v1/?checkupi&domain='+this.selectedDomain+'&uri='+this.selectedUri+'&upi='+this.upi)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
            // Examine the text in the response
            response.json().then(function(data) {
              console.log(data);
              if(data !== 'not_exist')
              helo.errorMsg = data;
              else
              helo.errorMsg = '';
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    submitForm (event){
      var helo = this;
      let formData = new FormData();
      this.file = this.$refs.file.files[0];
      formData.append('pageId', this.pageId);
      formData.append('domain', this.selectedDomain);
      formData.append('uri', this.selectedUri);
      formData.append('slug', this.slug);
      formData.append('title', this.title);
      formData.append('meta', this.metaTags);
      formData.append('content', this.editorData);
      formData.append('author', this.author);
      formData.append('description', "description");
      formData.append('file', this.file);
      formData.append('updatePage', this.submit);
      if(this.selectedDomain && this.selectedUri && this.slug && this.title && this.metaTags){
        this.valid = true;
        fetch(this.apiDomain+"/API/cmsBackend/v1/", {
                method: "POST",
                body:formData,
            }).then(
                function(response) {
                console.log(response);
                response.json().then(function(data) {
                  console.log(data);
                  helo.noticeAlert = data;
                  helo.showDismissibleAlert = true;
                  helo.valid = false;
                  helo.selectedDomain = null;
                  helo.selectedUri = null;
                  helo.slug = null;
                  helo.title = null;
                  helo.metaTags = null;
                  helo.editorData = '';
                  helo.author = null;
                  helo.description = null;
                });
              }
            )
            .catch(function(err) {
              console.log('Fetch Error :-S', err);
            });
            
      }else{
        helo.noticeAlert = "Fill up all the fields";
        helo.showDismissibleAlert = true;
      }
    },
    fetchData(){
      console.log(this.$route.query.id)
      this.pageId = this.$route.query.id;
      var helo = this;
      fetch(this.apiDomain+'/API/cmsBackend/v1/?singlePage&id='+this.pageId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
            // Examine the text in the response
            response.json().then(function(data) {
              console.log(data);
            //   helo.uris = data;
            helo.selectedDomain = data.DOMAIN;
            helo.selectedUri = data.URI;
            helo.slug = data.SLUG;
            helo.title = data.TITLE;
            helo.metaTags = data.META;
            helo.editorData = data.CONTENT;
            helo.author = data.AUTHOR;
            helo.date = data.DATE_CREATED;
            helo.uploadFileName = data.IMAGE;
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    }
   
  },
  created: function(){
    this.fetchData()
  } 
 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
  text-align: left;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.cc{
  margin-bottom: 20px;
}
.clWhite{
  color: #ffffff;
}
</style>
