/* eslint-disable */
<template>
<div class="hi">
    <div class="container">
        <h1 style="text-align:center;">{{msg}}</h1>
        <hr>
        <div class="card cc" v-for="faq in faqs" v-bind:key="faq.FAQ_ID">
            <div class="card-header">
                <h5><strong>{{faq.QUESTION}}</strong></h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>Answer:-</strong></h5>
                <p class="card-text">{{faq.ANSWER}}</p>
                <router-link :to="'/singleFaq?id=' + faq.FAQ_ID" class="clWhite"><button class="btn btn-primary clWhite">View / Edit Question</button></router-link>
                <button class="btn btn-danger clWhite" v-on:click="deleteFaq(faq.FAQ_ID)"><i class="fa fa-trash" aria-hidden="true"></i> Delete Question</button>
            </div>
        </div><br>
    </div>
</div>
</template>

<script>

export default {
  name: 'ViewFaq',
  data () {
    return {
      msg: 'Manage your FAQS',
      faqs: '',
      apiDomain : process.env.VUE_APP_API_DOMAIN
    }
  },
  methods: {
   deleteFaq(id){
     var self = this;
     if(confirm('are you sure?')){
        let formData = new FormData();
        formData.append('faqId', id);
        formData.append('deleteFaq', "delete");
        fetch(this.apiDomain+"/API/cmsBackend/v1/", {
                method: "POST",
                body:formData,
            }).then(
                function(response) {
                console.log(response);
                response.json().then(function(data) {
                  console.log(data);
                  alert(data);
                  self.fetchData();
                });
              }
            )
            .catch(function(err) {
              console.log('Fetch Error :-S', err);
            });
     }
   },
   fetchData(){
    let self = this;
    fetch(this.apiDomain+'/API/cmsBackend/v1/?allFaqs')
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }

            // Examine the text in the response
            response.json().then(function(data) {
              console.log(data);
              if(data){
                self.faqs = data;
              }else{
                self.faqs = null;
              }
              
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
   }
  },
  created: function(){
    this.fetchData()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
  text-align: left;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.cc{
  margin-bottom: 20px;
}
.clWhite{
  color: #ffffff;
  text-decoration:none;
}
</style>
