<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="/">Beanstalk CMS</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item-dropdown text="Create">
              <b-dropdown-item><router-link to="/createBlog">Blog Page</router-link></b-dropdown-item>
              <b-dropdown-item><router-link to="/createFaq">FAQ</router-link></b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown text="View">
              <b-dropdown-item><router-link to="/viewBlog">Blog Page</router-link></b-dropdown-item>
              <b-dropdown-item><router-link to="/viewFaq">FAQ</router-link></b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
          
          <!-- Right aligned nav items -->
        </b-collapse>
      </b-navbar>
    </div>

    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 60px;
}
.link{
  color: aliceblue;
}
</style>
